doctype html
html
head
    link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
body        
    div#main(class="d-flex justify-content-center align-items-center",style="height:100vh;")
        h1(class="mr-3 pr-3 align-top border-right inline-block align-content-center")=status
        div(class="inline-block align-middle")
            h2(class="font-weight-normal lead",id="desc")=msg
            if(err)
                pre=err.stack